
<app-header-doctor></app-header-doctor>

<div class="mainbody">

  <div class="mainbody">

    <div class="center">
      <div *ngFor="let hora of hours; let i = index" class="time">
        <label>{{ hora }}</label>
        <input type="text" placeholder="Nome do paciente" [(ngModel)]="names[i]" /> <!-- Usando o índice para acessar o array -->
        <button (click)="schedule(names[i], hora)">Agendar</button>
      </div>
    </div>

    <!-- Modal simples para escolher o tipo de consulta -->
    <div *ngIf="selectedTime" class="modal">
      <div class="modal-content">
        <h4>Escolha o tipo de consulta</h4>
        <p>
          Você deseja agendar a consulta para o horário {{ selectedTime }} para o paciente {{ selectedName }} como:
        </p>
        <div class="container">
          <button (click)="confirmQuery('Presencial', selectedTime)">Presencial</button>
          <button (click)="confirmQuery('Telemedicina', selectedTime)">Telemedicina</button>
          <button (click)="cancelSchedule()">Cancelar</button>
        </div>
      </div>
    </div>



</div>





<app-footer-doctor></app-footer-doctor>
